@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto px-4 max-w-7xl;
  }

  .container-max {
    @apply mx-auto px-4 max-w-7xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}